/*	
	style.css
	by Jun Soo Shin
	Comp 20: Assignment 1
	due 29 September 2015
	note: stylesheet for index.html, bio.html, and resume.html on a 
	      portfolio on Github special repository
*/

body {
	margin-left: 10%;
	margin-right: 10%;
	font-family: Times;
}

header {
	text-align: center;
	font-family: Times;
}

h2 {
	font-family: Times;
}

img {
    	display: block;
    	padding-top: 30px;
    	margin: 0 auto;
}

a:link {
	color: #6699CC;
	text-decoration: none;
}

a:visited {
	color: purple;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

.boldword {
	font-weight: bold;
}

.list{
    	list-style-type: none;
    	margin-top: 0;
   	padding-left: 0;
}

.detail {
    	list-style-type: initial;
}

.italic {
	font-style: italic;
}

#links {
	text-align: center;
}