/*	
	style.css
	by Jun Soo Shin
	Comp 20: Assignment 1
	due 29 September 2015
	note: resume on a portfolio on Github special repository
*/

body {
	background-color: #D3CAC5;
	margin-left: 10%;
	margin-right: 10%;
}

header {
	text-align: center;
	font-family: Times;
}

h2 {
	font-family: Times;
}

.boldword {
	font-weight: bold;
}

.italic {
	font-style: italic;
}